.about{
    h1{
        span{ 
            background: #2D9CDB; 
        }
        @media(min-width: 992px){
            width: 69%;
        }
    }

    a{
        color: #9B51E0;
        text-decoration: none;
    }

    &-left{
        position: absolute;
        margin-top: -23%;
        left: -24%;
        z-index: -1;
    }

    &-rigth{ 
        overflow: hidden;
        margin-top: -23%;
        z-index: -1;
        img{ 
            width: 50%; 
            margin-left: 73%; 
           
        }
    }

}