@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

h1{ 
    font-size: 40px; 

    span{
        background: #9B51E0;
    }
}

.btn{
    background: #9B51E0;
}