.img-bg{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    background-position-x: 50%;
    overflow: hidden;

    i{
        cursor: pointer;
    }
    .curtain{
        background-color: white; 
        position: relative;
        height: 100%;
        text-align: center;
        color: #9b51e0;
        font-size: 1rem;
        z-index: 10;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 5%;
        border-top: 1px solid #9b51e0;
    }
    .fas{
        color: black;
    }

    .slide-fade-enter-active {
        transition: all 300ms ease-in-out;
    }
    .slide-fade-leave-active {
        transition: all 300ms ease-in-out;
    }
    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */ {
        transform: translateY(800px);
    }
}

@media only screen and (max-width: 423px) {
    .curtain {
        font-size: .5rem;
    }
}
