@mixin responsive-bg-image($image-width, $image-height) {
    background-size: 100%;
    height: 0;
    padding-bottom: percentage($image-height / $image-width);
    display: block;
  }

footer{
    .content{
        .card{
            p{
                color: #9B51E0;
            }
        }
    }

    .footer{
        background-color:#9B51E0;

        .nav-link > img{
            filter: invert(1);
        }

        p{
            font-size: 15px;
        }

        @media(min-width: 992px){
            p{
                font-size: 11px;
            }
        }

        @media(min-width: 1200px){ 
            p{ 
                font-size: 13px; 
            }
        }

    }
}