.bg{
    background: {
        image: linear-gradient(#00000052, #00000052),url('/images/header.png');
        size: cover;
        position: center;
    }
    min-height: 100vh;
}

.content{
    .card{
        &-header{
            h3{
                font-size: 18px;
                span > span{
                    background: #2D9CDB;
                }
            }

            img{
                width: 89px;
            }
        }
    }
    @media(min-width: 992px){
        margin-top: -9rem;
    }
}

.login{
    background-color: #e1e1e1a8;
}

@media only screen and (max-width: 423px) {
    .title{
        font-size: 1.4rem;
    }
}