.progress{
    height: 40px;
    border-end-end-radius: 8px;
    border-top-right-radius: 8px;
    background-color: white;

    &::before{
        height: 50px;
        width: 50px;
        background-color: white;
        content: "A";
        color: white;
        border-radius: 100%;
        position: absolute;
        left: -10px;
        top: -5px;
    }

    @media only screen and (max-width: 541px) {
        &::before{
            height: 60px;
            width: 60px;
            left: -10px;
            top: -10px;
        }
    }

    .progress-bar{
        background-color: #1171C1;
        border-end-end-radius: 8px;
        border-top-right-radius: 8px;

        &-gray{
            background-color: #BFBFBF;
            border-end-end-radius: 8px;
            border-top-right-radius: 8px;
        }
    }
}
.label-info{
    font-size: .8rem;
    z-index: 10;
    position: relative;
    
    span{
        color: #1171C1;
        font-weight: 700;
        margin-left: 5px;
    }

    > strong{
        font-weight: 400;
    }

    @media only screen and (max-width: 541px) {
        &{
            left: 10% !important;
        }
    }
}