.value{
    h1, p > span{
        color: #9B51E0;
    }

    .card{
        img{
            width: 115px;
            margin-top: -300px;
        }

        &-title > span{
            background: #2D9CDB;
        }

        &-body{
            padding-top: 6rem;
        }
    }
}