<template>
    <section class="about py-5">
        <div class="about-left w-100 d-none d-lg-block">
           <img src="images/marca.png" class=" w-50" alt=""> 
        </div>
        <div class="about-rigth w-100 position-absolute d-none d-lg-block">
            <img src="images/marca.png" alt="">
        </div>
        <div class="container py-3">
            <div class="w-100 d-flex justify-content-center py-lg-5">
                <h1 class="fw-bolder text-center">
                    Chegamos para <span>revolucionar</span> o mercado de compra e venda de combustíveis.
                </h1>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 d-flex align-items-center flex-column justify-content-center order-2 order-lg-1">
                    <p>A Fintech Smart Petro tem no seu DNA ser disruptiva oferecendo aos seus investidores e clientes um modelo de negócio enxuto e sustentável trabalhando com baixas taxas de juros, transparência e informação.
                    </p>
                    <p>
                        Nossa meta é trazer para o mercado de <a href="http://" target="_blank" rel="noopener noreferrer">crédito e soluções</a> inteligentes com foco no ecossistema de usinas e postos de combustíveis.
                    </p>
                </div>
                <div class="col-12 col-lg-6 order-1 order-lg-2 py-4 py-lg-0">
                    <img src="images/about.png" class="img-fluid" alt="quem somos">
                </div>
            </div>
        </div>
    </section>
</template>

<style lang="scss" scoped>
    @import '../sass/about.scss';
</style>