<template>
    <div class="col-12 col-lg-6 p-0 m-0 img-bg d-flex flex-column justify-content-end align-items-center" :style="`background-image: url('${img}')`">

        <transition name="slide-fade">
            <div class="curtain" v-if="!hideCurtain">
                <slot></slot>
            </div>
        </transition>

        <div class="d-flex flex-column justify-content-end align-items-center w-100 mb-4">
            <h1 class="text-white">{{ title }}</h1>
            <i @click="toogleAnimation()" :class="`text-white fas fa-angle-double-${hideCurtain ? 'up' : 'down'} fs-1`"></i>
        </div>

    </div>
</template>

<script>


export default {
    name: 'curtain',
    props: [
        'chave',
        'title',
        'img',
    ],
    data() {
        return {
            hideCurtain: true
        }
    },
    methods: {
        toogleAnimation(){
            this.hideCurtain = !this.hideCurtain
        }
    },
}
</script>

<style scoped lang="scss">
    @import '../sass/curtain.scss';
</style>
