<template>
    <footer id="foot">
        <div class="cards pt-3">
            <div class="row p-0 m-0" >
                <Curtain chave="credito" title="Crédito" img="/images/credito.jpeg">
                    <p>
                        Através do aplicativo você se cadastra e solicita o credito e em poucos minutos fazemos a análise e 
                        disponibilizamos para um credito na sua carteira digital para poder abastecer na rede de postos parceiros.
                    </p>
                    <p>
                        Nossa solução de crédito tem baixas taxas juros e são mais baratas e vantajosas para os clientes.
                    </p>
                    <small>Botão Baixar Aplicativo</small>
                </Curtain>
                <Curtain chave="investimento" title="Investimentos" img="/images/investimentos.jpeg">
                    <p>
                        Na Smart Petro você pode investir seu dinheiro para ser emprestado aos donos de postos de combustíveis para comprarem 
                        combustíveis direto da usina/distribuidoras e os clientes que abastecem seus veículos comprarem combustíveis direto no posto. 
                    </p>
                    <p>
                        Nos remuneramos os investidores que aplicam seu dinheiro no fundo de investimento Smart Petro com rendimentos de 3,0% mensal sobre o valor investido.
                    </p>
                    <p>
                        Seja um investidor
                    </p>
                    <p>
                        Falar com consultor(a)
                    </p>
                </Curtain>
                <Curtain chave="posto" title="Posto" img="/images/posto.jpeg">
                    <p>
                        As usinas, distribuidoras e postos de combustíveis parceiros  Smart Petro oferecem aos seus clientes informações em tempo 
                        real sobre a cotação do etanol e as melhores condições de pagamento. Ser parceira da Smart Petro possibilita a usina a 
                        negociar de forma rápida e direta o etanol além de agilizar os prazos de entrega.
                    </p>
                    <p>
                        Faça parte da rede de postos <strong>Smart Petro,</strong> aumente suas vendas de forma simples e rápida.
                    </p>
                    <ul style="list-style-type: none">
                        <li>Aumentar o fluxo de clientes nos postos</li>
                        <li>Aumentar a receita mensal</li>
                        <li>Estrutura online sem custos operacionais</li>
                        <li>Produto com alto índice de aprovação</li>
                    </ul>
                </Curtain>
                <Curtain chave="caminhoneiro" title="Usinas/Distribuidoras" img="/images/caminhao.png">
                    <h1>Seja um motorista SmartPetro</h1>
                    <p>
                        Dirigir pelo app da Smart Petro oferece uma oportunidade flexível de ganhos. É uma ótima alternativa para fazer 
                        entregas de combustíveis para outras distribuidoras, usinas ou postos de combustíveis. Aumente sua renda e seja 
                        um motorista parceiro da plataforma SmartPetro.
                    </p>
                    <p>
                        Estamos presentes nas principais capitais, bem como nas cidades menores em todo o país.
                    </p>
                    <p>Seja um parceiro baixe nosso aplicativo e faça seu cadatro.</p>
                </Curtain>
            </div>
        </div>
        <div class="content py-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <img src="images/celular.png" class="img-fluid w-100" alt="Celular">
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="card w-100 border-0">
                            <p class="text-uppercase m-0">baixe o aplicativo</p>
                            <h1 class="fw-bolder">No site ou no aplicativo, você terá mais praticidade de uso e cadastro</h1>
                            <ul class="py-3 list-unstyled">
                                <li class="nav-item pt-2">
                                    <img src="images/dot.png" class="me-3" alt="">Facilidade durante o cadastro
                                </li>
                                <li class="nav-item pt-2">
                                    <img src="images/dot.png" class="me-3" alt="">Análise de crédito totalmente segura
                                </li>
                                <li class="nav-item pt-2">
                                    <img src="images/dot.png" class="me-3" alt="">Acompanhamento em tempo real do seu serviço
                                </li>
                                <li class="nav-item pt-2">
                                    <img src="images/dot.png" class="me-3" alt="">Liberdade para você fazer a melhor escolha para sua empresa
                                </li>
                            </ul>
                        </div>
                        <img src="images/code.png" class="img-fluid w-50" alt="qrCode">
                        <img src="images/code.png" class="img-fluid w-50" alt="qrCode">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer py-5 py-lg-3">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4 d-flex align-items-center">
                        <p class="text-white fw-bolder text-center text-lg-start m-0">2021 SmartPetro Venda Direta de Etanol | Nova M3</p>
                    </div>
                    <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center pt-4 pt-lg-0">
                        <ul class="nav d-flex justify-content-between">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img src="images/facebook.png" class="img-fluid" alt="facebook">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img src="images/linkedin.png" class="img-fluid" alt="linkedin">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img src="images/instagram.png" aclass="img-fluid" lt="instagram">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img src="images/youtube.png" class="img-fluid" alt="youtube">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img src="images/twitter.png" class="img-fluid" alt="twitter">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-4 pt-4 pt-lg-0">
                        <p class="text-white fw-bolder text-center m-lg-0">Baixe nosso Aplicativo</p>
                        <div class="d-flex justify-content-center">
                            <ul class="nav d-flex justify-content-between">
                                <li class="nav-item">
                                    <a href="#">
                                        <img src="images/apple.png" class="img-fluid" alt="facebook">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#">
                                        <img src="images/google.png" class="img-fluid" alt="facebook">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>
<script>
    import Curtain from './Curtain.vue'
    export default {
        components: {
            Curtain
        },
    }
</script>
<style lang="scss" scoped>
    @import '../sass/footer.scss';
</style>