<template>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="images/logo.svg" width="200" alt="SmartPetro">
                </a>
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#">Usinas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#">Postos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#">Crédito</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#">Investimento</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#">Caminhoneiros</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link btn dropdown-toggle text-white px-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Acesse sua conta
                            </a>
                            <ul class="dropdown-menu login shadow-sm" aria-labelledby="navbarDropdown">
                                <li class="p-2">
                                    <form class="input-group d-flex flex-column justify-content-center">
                                        <input class="form-control rounded w-100" type="email" placeholder="email">
                                        <input class="form-control rounded w-100 mt-2" type="password" placeholder="senha">
                                        <small><a href="#">esqueceu sua senha?</a></small>

                                        <button type="button" class="btn text-white rounded mt-2">entrar</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="bg d-flex align-items-center">
            <div class="container d-flex align-items-center">
                <div class="col-12 col-lg-6">
                    <h1 class="text-white fw-bold title">
                        Transformamos <span>investimento</span> em crédito para o Brasil não parar de rodar!
                    </h1>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4 pt-5">
                        <div class="card w-100 h-100 rounded shadow-sm border-0">
                            <div class="card-header bg-transparent border-0 d-flex align-items-center">
                                <h3 class="m-0 fw-bolder">Liberamos crédito para postos de <span class="w-100">combustíveis<span></span></span></h3>
                                <img src="images/money.svg" alt="money">
                            </div>
                            <div class="card-body pt-0 d-flex justify-content-center align-items-center text-center" >
                                <p class="card-text">Cadastrados poderem comprar etanol direto das usinas com carência de até 15 dias. </p>                
                            </div>
                            <div class="card-footer bg-transparent border-0 d-flex justify-content-center">
                                <a href="#" class="btn text-white w-75 rounded-pill">FALAR COM O CONSULTOR</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 pt-5">
                        <div class="card w-100 h-100 rounded shadow-sm border-0">
                            <div class="card-header bg-transparent border-0 d-flex align-items-center">
                                <h3 class="m-0 fw-bolder">Quer ser nosso motorista <span class="w-100">parceiro?<span></span></span></h3>
                                <img src="images/truck.svg" alt="money">
                            </div>
                            <div class="card-body pt-0 d-flex justify-content-center align-items-center text-center">
                                <p class="card-text">Faça parte do nosso time de motoristas parceiros realizando seu cadastro.</p>
                            </div>
                            <div class="card-footer bg-transparent border-0 d-flex justify-content-center">
                                <a href="#" class="btn text-white w-75 rounded-pill">BAIXE O APP</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 pt-5">
                        <div class="card w-100 h-100 rounded shadow-sm border-0">
                            <div class="card-header bg-transparent border-0 d-flex align-items-center">
                                <h3 class="m-0 fw-bolder">Quer fornecer <span class="w-100">combustível?<span></span></span></h3>
                                <img src="images/usina.svg" alt="money">
                            </div>
                            <div class="card-body pt-0 d-flex justify-content-center align-items-center text-center">
                                <p class="card-text">Disponibilize a venda do seu etanol para os postos do Brasil todo através da nossa plataforma.</p>
                            </div>
                            <div class="card-footer bg-transparent border-0 d-flex justify-content-center">
                                <a href="#" class="btn text-white w-75 rounded-pill">FALAR COM O CONSULTOR</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
export default {
    name: "Header",
};
</script>

<style scoped lang="scss">
    @import '../sass/header.scss';
</style>
