<template>
    <div class="mt-5">
        <div class="row m-0 p-0">
            <div class="col-2 m-0 p-0 d-flex justify-content-center align-items-center">
                <div class="label-info d-flex flex-column justify-content-end align-items-end" style="left: 15%;">
                    <div>
                        <strong>Poupança</strong>
                        <span>0,{{ poupanca }}%</span>
                    </div>
                    <strong>mensal</strong>
                </div>
            </div>
            <div class="col-10 m-0 p-0" style="position: relative">
                <div class="progress">
                    <div class="progress-bar-gray" role="progressbar" :style="`width: ${poupanca}%`" :aria-valuenow="poupanca" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>

        <div class="row m-0 p-0 mt-3">
            <div class="col-2 m-0 p-0 d-flex justify-content-center align-items-center">
                <div class="label-info d-flex flex-column justify-content-end align-items-end" style="left: 35%;">
                    <div>
                        <strong>SELIC</strong>
                        <span>0,{{ selic }}%</span>
                    </div>
                    <strong>mensal</strong>
                </div>
            </div>
            <div class="col-10 m-0 p-0" style="position: relative">
                <div class="progress">
                    <div class="progress-bar-gray" role="progressbar" :style="`width: ${selic}%`" :aria-valuenow="selic" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>

        <div class="row m-0 p-0 mt-3">
            <div class="col-2 m-0 p-0 d-flex justify-content-center align-items-center">
                <div class="label-info d-flex flex-column justify-content-end align-items-end" style="left: 38%;">
                    <div>
                        <strong>CDB</strong>
                        <span>0,{{ cdb }}%</span>
                    </div>
                    <strong>mensal</strong>
                </div>
            </div>
            <div class="col-10 m-0 p-0" style="position: relative">
                <div class="progress">
                    <div class="progress-bar-gray" role="progressbar" :style="`width: ${cdb}%`" :aria-valuenow="cdb" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>

        <div class="row m-0 p-0 mt-3">
            <div class="col-2 m-0 p-0 d-flex justify-content-center align-items-center">
                <div class="label-info d-flex flex-column justify-content-end align-items-end" style="left: 15%;">
                    <div>
                        <strong>SmartPetro</strong>
                        <span style="color: #E715DD;">3,0%</span>
                    </div>
                    <strong>mensal</strong>
                </div>
            </div>
            <div class="col-10 m-0 p-0" style="position: relative">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" :style="`width: ${smartPetro}%`" :aria-valuenow="smartPetro" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'MonthlyPercentages',
        data() {
            return {
                poupanca: 36,
                selic: 51,
                cdb: 66,
                smartPetro: 100,
            }
        },
        props: [
            'color'
        ]
    }
</script>

<style scoped lang="scss">
    @import '../sass/monthly_percentages.scss';
</style>