<template>
    <section class="value pt-lg-5">
        <div class="container">
            <h1 class="text-center pb-5 fw-bolder text-uppercase w-100">Nossos valores</h1>
            <div class="row pt-lg-3 pb-5">
                <div class="col-12 col-lg-4 pt-5 pt-lg-0">
                    <div class="card w-100 h-100 border-0 rounded-3 shadow mt-5 d-flex justify-content-center align-items-center">
                        <img src="images/hands.svg" class="position-absolute" alt="Confianca">
                        <div class="card-body text-center">
                            <h2 class="card-title pt-3 fw-bolder"><span>Confiança</span></h2>
                            <p class="card-text">A gente dá valor a confiança nos processos. Quem está envolvido com a gente, cresce.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 pt-5 pt-lg-0">
                    <div class="card w-100 h-100 border-0 rounded-3 shadow mt-5 d-flex justify-content-center align-items-center">
                        <img src="images/smile.svg" class="position-absolute" alt="Confianca">
                        <div class="card-body text-center">
                            <h2 class="card-title pt-3 fw-bolder"><span>Credibilidade</span></h2>
                            <p class="card-text">Credibilidade é a base para a transparência, buscamos sempre manter todos os envolvidos seguros de sua operações.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 pt-5 pt-lg-0">
                    <div class="card w-100 h-100 border-0 rounded-3 shadow mt-5 d-flex justify-content-center align-items-center">
                        <img src="images/tecnologia.svg" class="position-absolute" alt="Confianca">
                        <div class="card-body text-center">
                            <h2 class="card-title pt-3 fw-bolder"><span>Tecnologia</span></h2>
                            <p class="card-text">As tecnologias desenvolvidas foram pensadas para agilizar e dar maior segurança aos processos financeiros realizados dentro da plataforma.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-5">
                <div class="col-12 col-lg-5 d-flex justify-content-center align-items-center flex-column pt-5">
                    <div class="w-100">
                        <h1 class="fw-bolder pb-4 text-start">Seu dinheiro bem investido!</h1>
                    </div>
                    
                    <img src="images/grafic.png" class="img-fluid d-lg-none" alt="Gráfico">
                    <p class="pt-4 pt-lg-0">
                        Através do aplicativo você se cadastra e investe no fundo de investimento SmartPetro que vai remunerar mensalmente entre <span>1,5%</span> (empréstimo aos donos de postos de combustíveis) e <span>2,5%</span> (empréstimo aos clientes dos postos de combustíveis)
                    </p>
                    <div class="w-100 pt-4">
                        <a href="#" target="_blank" rel="noopener noreferrer" class="btn rounded-pill px-5 text-white">Simule agora!</a>
                    </div>
                    
                </div>
                <div class="col-12 col-lg-7 pt-lg-5" style="padding: 40px">
                    <!--<img src="images/grafic2.jpeg" class="img-fluid w-100 d-none d-lg-block" alt="Gráfico">-->
                    <MonthlyPercentages />
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    import MonthlyPercentages from './MonthlyPercentages.vue'
    export default {
        name: 'Values',
        components: {
            MonthlyPercentages,
        }
    }
</script>
<style lang="scss">
    @import '../sass/values.scss';
</style>