<template>
	<div>
		<Header />
		<About />
		<Values />
		<Footer/>
	</div>
</template>

<script>
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'
import About from './components/About.vue'
import Values from './components/Values.vue'

export default {
    name: 'App',
    components: {
        Header,
		Footer,
		About,
		Values
    }
}
</script>

<style lang="scss">
	@import './sass/app.scss';
</style>